.btn {
    width: fit-content;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s;
    display: block;
    margin: auto;
  }
  
  .btn:focus,
  .btn:hover {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  